h1{
    text-align: right;
    font-display: initial;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    padding-top: 60px;
    padding-right: 70px;
}